{% macro list(cities) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if cities|length > 0 %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.city.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.city.name'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for city in cities %}
        <tr id="{{ city.id }}">
            <td>{{ city.id }}</td>
            <td><a href="{{ path('sylius_backend_city_show', {'id': city.id}) }}">{{ city.name }}</a></td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_city_update', {'id': city.id})) }}
                {{ buttons.delete(path('sylius_backend_city_delete', {'id': city.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.city.no_results'|trans) }}
{% endif %}

{% endmacro %}
