{% macro list(campuses) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if campuses|length > 0 %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'sylius.campus.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'sylius.campus.name'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for campus in campuses %}
        <tr id="{{ campus.id }}">
            <td>{{ campus.id }}</td>
            <td><a href="{{ path('sylius_backend_campus_show', {'id': campus.id}) }}">{{ campus.name }}</a></td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('sylius_backend_campus_update', {'id': campus.id})) }}
                {{ buttons.delete(path('sylius_backend_campus_delete', {'id': campus.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.campus.no_results'|trans) }}
{% endif %}

{% endmacro %}
